footer{
    background-color: lightgreen;
}

section{
    display: flex;
    flex-wrap: nowrap;
    width: 2750px;
}

#Description{
    column-gap: 20px;
}

#Pictures{
    flex-direction: row;
    column-gap: 15px;
}

#Science{
    flex: 1 1 25%;
}