/*Jonny Wagstaff 12/3/2024*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oi&display=swap');
@font-face {
    font-family: Firecat;
    src: url(../Fonts/firecat_medium_macroman/FirecatMedium-webfont.woff);
}

body{
    background-color: green;
}

h4{
    font-family: firecat, "Oi", sans-serif;
}

.nav{
    background-color: aquamarine;
    font-size: 1.25em;
}

hr{
    padding: 5px;
    background-color:orange;
}

nav a:link{
    color:blue;
}

nav a:hover{
    color: chocolate;
}

nav a:active{
    color: lightgoldenrodyellow;
}

footer{
    background-color: lightgreen;
}

footer p{
    font-family: "Oi", Times, sans-serif;
}

.icons{
    margin: 10px;
    display: flex;
    justify-content: center;
}

.linkBack{
    text-decoration: none;
    color: cyan;
}

span{
    background-color: red;
}