/*Jonny Wagstaff 11/21/2024*/
body{
    background-color: green;
}

.nav{
    background-color: aquamarine;
    font-size: 1.25em;
}

hr{
    padding: 5px;
    background-color:orange;
}

nav a:link{
    color:blue;
}

nav a:hover{
    color: chocolate;
}

nav a:active{
    color: lightgoldenrodyellow;
}

footer{
    background-color: lightgreen;
}

.icons{
    margin: 10px;
    display: flex;
    justify-content: center;
}

.linkBack{
    text-decoration: none;
    color: cyan;
}