/* Jonny Wagstaff 9/18/2024 */

header
{
    background-color: green;
}

p, ul, li
{
    font-size: 20px;
}

footer
{
    background-color: green;
}

a, a:link 
{
    color:darkred;
}

a, a:visited
{
    color:gray;
}

a, a:hover, a:active
{
    color:lightgreen
}