form {
    background-image: radial-gradient(#9CAF88, #9CAF88, #355C3D, #9CAF88, #9CAF88);
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
}

fieldset {
    border-color: #355C3D;
    border-width: 2px;
}

legend {
    color: #355C3D;
    font-weight: bold;
}

label {
    color: #F3EEDB;
}

input[type="submit"] {
    background-color: #C6D96F;
    color: #355C3D;
    border: 2px solid #355C3D;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #A85A4A;
    color: #F3EEDB;
}