body {
    background-color: darkblue;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.weapon {
    border: 5px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    max-width: 450px;
    flex: 1 1 400px;
    animation: weapons 8s infinite;
}
@keyframes weapons {
    0% {
        background-color: yellow;
    }

    50% {
        background-color: lightyellow;
    }

    100% {
        background-color: yellow;
    }
}