form {
    background-color: bisque;
    color: #028ac0;
}

div {
    padding: 10px;
}

button {
    background-color: #c8614c;
    color: #2E2E33;
    border-radius: 15%;
    padding: 10px;
    font-size: 15px;
}