body {
    background-image: url(../Images/logo.jpg);
}

p, h1{
    background-color: bisque;
    text-align: center;
}

nav{
    background-color: lightblue;
    padding: 5px;
    float: left;
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form{
    background-color: white;
    align-content: center;
}

.exempt{
    text-align: left;
    background-color: white;
}

.extra_exempt{
    text-align: left;
    background-color: white;
    display: inline;
}

#submit{
    padding: 5px;
    margin: 10px;
}

.messages{
    background-color: antiquewhite;
    border: 5px solid red;
    width: 400px;
    list-style-type: none;
}